<% if notice%><p class="alert alert-success"><%= notice %></p><% end %>
<% if flash[:error] %><p class="alert alert-error"><%= flash[:error] %></p><% end %>

  <h2 class="form-signup-heading">Register</h2>

<%= render 'form' %>

<%= button_to 'Back', users_path, method: :get, :class => "btn btn-primary" %>